.grid {
	border: 0px blue solid;
	width: 100%;
	height: 2000px;
	display: grid;
	grid-template-rows: 3% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 50% 50%;
}

.linkgrid
{
	border: 0px blue solid;
	width: 100%;
	height: 500px;
	display: grid;
	grid-template-rows: 13% 1fr;
}

.box {
	color: black;
	border-radius: 5px;
	border: 0px dodgerblue solid;

}
